<!--***************************fix patient***********************************-->
<md-divider style="margin-top: 20px" ></md-divider>
<md-toolbar ><br>
<!-- 
     <div class="md-toolbar-tools">
      <h3 align="center">HOME</h3>            
    </div> -->
    <!--  <md-input-container layout="row" layout-align="center">
    </md-input-container> -->
    <!-- <md-icon  md-svg-icon="images/floppy-disk.svg" style="width: 60px" ></md-icon> -->
    <h3 align="center" style="color: white">Drug</h3><br>  
  </md-toolbar>   

  <md-content layout-padding>
    <div>
      <form name="userForm">

        <div ng-repeat="drug in drugList track by $index"><hr>
          <!-- <div layout-gt-sm="row" layout-align="space-between center"> -->

              <div layout-gt-sm="row" layout-align="space-between start"><hr><!--width="90%" style="border:1px dashed Green;" cellspacing="5" bgcolor="ForestGreen"-->
                <md-input-container class="md-block" flex-gt-sm="6">
                  <label> Id : </label>
                  <input ng-model="drug._id">
                </md-input-container>
              </div>

            <div layout-gt-sm="row" layout-align="space-between start"><hr><!--width="90%" style="border:1px dashed Green;" cellspacing="5" bgcolor="ForestGreen"-->
              <md-input-container class="md-block" flex-gt-sm="6">
                <label>Day</label>
                <input ng-model="drug.day">
              </md-input-container>
            </div>


            <div layout-gt-sm="row" layout-align="space-between start">

              <md-input-container class="md-block" flex-gt-sm="10" flex>
                <label>Duration</label>
                <input ng-model="drug.duration">
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm="10" flex>
                <label>Barcode</label>
                <input ng-model="drug.barcode">
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm="10" flex>
                  <label>Namemedical</label>
                  <input ng-model="drug.namemedical">
                </md-input-container>

              <md-input-container class="md-block" flex-gt-sm="10" flex>
                <label>Druglabel</label>
                <input ng-model="drug.druglabel">
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm="10" flex>
                <label>Time</label>
                <input ng-model="drug.time">
              </md-input-container>
              
              <md-input-container class="md-block" flex-gt-sm="10" flex>
                <label>Check</label>
                <input ng-model="drug.check">
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm="10" flex>
                <label>Drugaddict</label>
                <input ng-model="drug.drugaddict">
              </md-input-container>



  </div>
  <!--***************************************fix patient*********************************************************-->

</div><hr>
</form>
</div>
</md-content>

<!--**************************************************fix patient********************************************-->